/*----------------------------------------------
*
* [Main Stylesheet]
*
* Theme    : Leverage
* Version  : 2.0
* Author   : Codings
* Support  : codings.dev
* 

/*----------------------------------------------
3. Section
----------------------------------------------*/

/* #region Section */



section.hero       { background-color: var(--hero-bg-color); }
section.section-1  { background-color: var(--section-1-bg-color);  background-image: var(--section-1-bg-image); }
section.section-2  { background-color: var(--section-2-bg-color);  background-image: var(--section-2-bg-image); }
section.section-3  { background-color: var(--section-3-bg-color);  background-image: var(--section-3-bg-image); }
section.section-4  { background-color: var(--section-4-bg-color);  background-image: var(--section-4-bg-image); }
section.section-5  { background-color: var(--section-5-bg-color);  background-image: var(--section-5-bg-image); }
section.section-6  { background-color: var(--section-6-bg-color);  background-image: var(--section-6-bg-image); }
section.section-7  { background-color: var(--section-7-bg-color);  background-image: var(--section-7-bg-image); }
section.section-8  { background-color: var(--section-8-bg-color);  background-image: var(--section-8-bg-image); }
section.section-9  { background-color: var(--section-9-bg-color);  background-image: var(--section-9-bg-image); }
section.section-10 { background-color: var(--section-10-bg-color); background-image: var(--section-10-bg-image); }
section.section-11 { background-color: var(--section-11-bg-color); background-image: var(--section-11-bg-image); }
section.section-12 { background-color: var(--section-12-bg-color); background-image: var(--section-12-bg-image); }
section.section-13 { background-color: var(--section-13-bg-color); background-image: var(--section-13-bg-image); }
section.section-14 { background-color: var(--section-14-bg-color); background-image: var(--section-14-bg-image); }
section.section-15 { background-color: var(--section-15-bg-color); background-image: var(--section-15-bg-image); }

section.section-vs-0   { padding: 0; }
section.section-vs-10  { padding: 10px 0; }
section.section-vs-20  { padding: 20px 0; }
section.section-vs-30  { padding: 30px 0; }
section.section-vs-40  { padding: 40px 0; }
section.section-vs-50  { padding: 50px 0; }
section.section-vs-60  { padding: 60px 0; }
section.section-vs-70  { padding: 70px 0; }
section.section-vs-80  { padding: 80px 0; }
section.section-vs-90  { padding: 90px 0; }
section.section-vs-100 { padding: 100px 0; }
section.section-vs-110 { padding: 110px 0; }
section.section-vs-120 { padding: 120px 0; }
section.section-vs-130 { padding: 130px 0; }
section.section-vs-140 { padding: 140px 0; }
section.section-vs-150 { padding: 150px 0; }
section.section-vs-160 { padding: 160px 0; }
section.section-vs-170 { padding: 170px 0; }
section.section-vs-180 { padding: 180px 0; }
section.section-vs-190 { padding: 190px 0; }
section.section-vs-200 { padding: 200px 0; }

section.featured {
    position: relative;
}

section.featured:after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: -50px;
    left: 50%;
    left: calc(50% - 2.5px);
    width: 5px;
    height: 100px;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
}

section.featured.right:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    width: 50%;
    border-bottom: 1px dashed var(--primary-l-color);
}

section.odd.featured.right:before {
    border-bottom: 1px dashed var(--secondary-l-color);
}

section.featured.left:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 50%;
    border-bottom: 1px dashed var(--primary-l-color);
}

section.odd.featured.left:before {
    border-bottom: 1px dashed var(--secondary-l-color);
}

section.featured.all:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 1px dashed var(--primary-l-color);
}

section.featured.right .odd:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: calc(100% - 1px);
    right: 0;
    width: 50%;
    border-bottom: 1px dashed var(--secondary-l-color);
}

section.featured.left .odd:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: calc(100% - 1px);
    left: 0;
    width: 50%;
    border-bottom: 1px dashed var(--secondary-l-color);
}

section.featured.all .odd:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    border-bottom: 1px dashed var(--secondary-l-color);
}

section.odd.featured.all:before {
    border-bottom: 1px dashed var(--secondary-l-color);
}

main {
    padding: 0;
}

aside {
    padding: 0;
}

.container {
    max-width: 1170px;
    padding: 0;
}

.container.header {
    max-width: 1140px;
}

.container.header.full {
    max-width: 100%;
}

.container.header.full-grid {
    max-width: 100%;
    margin: 0 5px;
}

.container.header.smaller {
    max-width: 940px;
}

.container.disabled {
    width: auto;
    max-width: 100%;
}

.container.disabled .content-inner {
    padding: 0;
}

.container.full {
    max-width: 100%;
}

.container.full .col-12 {
    padding: 0;
}

.container.full-grid {
    padding: 0;
    max-width: calc(100% - 30px);
    margin: 0 15px;
}

.container.smaller {
    max-width: 970px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.vh-100 {
    height: 100vh;
}

.vh-75 {
    height: 75vh;
}

.clearfix {
    display: block;
    content: "";
    clear: both;
}

.overflow-holder {
    overflow: hidden;
    margin-top: -25px;
    margin-bottom: -25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* #endregion Section */

/*----------------------------------------------
4. Helper Class
----------------------------------------------*/

/* #region Helper Class */

.intro {
    margin-bottom: 50px;
}

.intro h1:first-child, .intro h2:first-child, .intro h3:first-child {
    margin-top: 0;
}

.blog-listing .items {
    margin-bottom: 30px;
}

.blog-listing .items .item {
    margin-bottom: 30px;
}

.blog-grid:not(.masonry) .items {
    margin-bottom: 30px;
}

.blog-grid:not(.masonry) .items .item {
    margin-bottom: 30px;
}

.blog-grid:not(.masonry) .items .item.sticky .card:before {
    top: -10px;
    right: 0;
    bottom: 0;
    left: -10px;position: absolute;
    z-index: -1;
    content: '';
    width: calc(50% + 10px);
    height: calc(50% + 10px);
    border: none;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.4s;
    transition-property: opacity, transform;
}

.post-holder {
    list-style: none;
    width: 100%;
    border-left: 5px solid var(--primary-bg-color-3);
    background-color: var(--primary-bg-color-2);
    padding: 25px;
    margin-top: 35px;
}

.odd .post-holder,
.body-mode-dark .post-holder {
    border-left: 5px solid var(--primary-color);
    background-color: var(--secondary-bg-color-3);
}

.posted-on a:not(.btn) {
    font-weight: 600;
}

.sidebar .item {
    margin-bottom: 50px;
}

.sidebar .item:last-child {
    margin-bottom: 0;
}

.sidebar .item h4 {
    margin-top: 0;
}

.odd .sidebar .item h4,
.body-mode-dark .sidebar .item h4 {
    color: var(--white-color);
}

.sidebar ol,
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ol ol, .sidebar ul ul {
    padding: 15px;
}

.sidebar ul.children {
    padding: 0;
}

.sidebar .sub-menu {
    padding: 0;
}

.sidebar ul li:not(.nav-item):not(.list-group-item) {
    position: relative;
    padding-left: 0;
}

.sidebar ul ul li:not(.nav-item):not(.list-group-item) {
    padding-left: 20px;
}

.sidebar li:hover:before {
    background-color: var(--primary-color);
}

.sidebar ul li a:not(.btn) {
    color: inherit;
    overflow-wrap: break-word;
}

.sidebar ul li a:not(.btn):hover {
    color: var(--primary-color);
}

.sidebar .title {    
    width: 100%;
    margin-top: 0;
    list-style: none;
}

.list-group .list-group-item .icon {
    color: var(--primary-color);
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlights .items .item {
    margin-bottom: 1.5rem;
}

.highlights .items .item:last-child {
    margin-bottom: 0;
}

.highlights p {
    white-space: pre-wrap;
}

.highlights .items .item .icon {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
    -webkit-text-fill-color: transparent;
}

.offers .items .item {
    margin-bottom: 30px;
}

.offers .items .item .icon {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
    -webkit-text-fill-color: transparent;
}

.offers.secondary .items .item h4 {
    margin-top: 0;
}

.counter.skills .items .item {
    padding: 35px 0 10px;
}

.counter .radial {
    position: relative;
    width: 120px;
    display: inline-block;
    text-align: center;
}

.counter .radial canvas {
    height: 80px;
    vertical-align: middle;
    visibility: hidden;
}

.counter.preloader .radial canvas,
.counter.skills .radial canvas {
    height: auto;
    visibility: visible;
}

.counter .radial span {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-family: 'Gilroy', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.counter.funfacts .radial span {
    font-size: 2.5rem;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
    -webkit-text-fill-color: transparent;
}

.counter .radial span i {
    font-style: normal;
    font-size: 1rem;
    font-weight: 700;
}

.plans .items .item {
    margin-bottom: 30px;
}

.plans .items .item .icon {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plans .items .item .btn {
    margin-top: 25px;
}

.plans .items .item .card:hover .btn {
    background: none;
    border: 1px solid var(--secondary-l-color);
}

.plans .items .item .card:hover .btn:after, .plans .items .item .card:hover .btn:before {
    content: none;
}

.plans .items .item .card:hover * {
    border-color: var(--secondary-l-color);
}

.price {
    margin-bottom: 25px;
    font-size: 42px;
    font-weight: 600;
    border: 1px solid var(--primary-l-color);
    border-radius: 100px;
    color: var(--primary-color);
}

.odd .price {
    border-color: var(--secondary-l-color);
}

.price i {
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
}

.invert,
.odd.logos img {
    filter: brightness(0) invert(1);
}

.showcase.masonry .card {
    background-color: var(--white-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.body-mode-dark.showcase.masonry .card {
    background-color: var(--secondary-bg-color-3);
}

.showcase.masonry .card p {
    color: var(--primary-p-color);
}

.body-mode-dark.showcase.masonry .card p {
    color: var(--secondary-p-color);
}

.showcase.portfolio .card .image-over:before {
    background-color: transparent;
}

.showcase .items .item .card.no-image .image-over:before {
    background-color: var(--white-color);
}

.showcase.portfolio .card .card-caption {
    opacity: 0;
}

.showcase.portfolio .card:hover .card-caption {
    opacity: 1;
}

.showcase .card {
    height: auto;
    background-color: transparent;
}

.showcase .card .image-over {
    overflow: hidden;
}

.showcase .card .image-over:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
}

.showcase .card .image-over img {
    position: relative;
    z-index: -1;
    height: auto;
    min-height: 360px;
    object-fit: cover;
    object-position: center;
}

.showcase .card-caption {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.showcase .no-image .card-caption {
    position: relative;
}

.showcase .card-caption *, .showcase .card-caption *:not(.btn) {
    color: #f5f5f5;
}

.showcase .card-caption .card-body p {
    color: var(--secondary-p-color);
}

.showcase:not(.news) .card-caption a:not(.btn) {
    margin: 0;
    color: var(--primary-color);
}

.showcase .no-image .card-caption *, .showcase .no-image .card-caption *:not(.btn) {
    color: var(--primary-t-color);
}

.body-mode-dark.showcase .no-image .card-caption *, .body-mode-dark .showcase .no-image .card-caption *:not(.btn) {
    color: var(--secondary-t-color);
}

.showcase .no-image .card-caption .card-body p {
    color: var(--primary-p-color);
}

.showcase .card-footer {
    border-color: rgba(255, 255, 255, 0.25);
}

.showcase .no-image .card-footer {
    border-color: rgba(0, 0, 0, 0.15);
}

.body-mode-dark.showcase .no-image .card-footer {
    border-color: rgba(255, 255, 255, 0.25);
}

.showcase .card:hover .image-over img {
    transform: none;
}

.showcase .card:hover .image-over:before {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    opacity: 0.75;
}

.showcase .card:hover .image-over .mask-radius-full {
    opacity: 0;
}

.showcase .card:hover .image-over img {
    filter: blur(3px);
}

.showcase .card:hover .image-over .play-video-full {
    width: 100%;
    height: 100%;
    font-size: 100px;
}

.showcase .card:hover .image-over .play-video-full:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    opacity: 0.75;
}

.filter-section .items {
    overflow: initial!important;
    /* ! important is necessary to avoid conflict with the Shuffle JS. */
}

.filter-section .btn-group {
    margin: 0 0 35px;
    display: block;
}

.filter-section .btn-group .btn {
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-p-color);
}

.filter-section .btn-group .btn.focus {
    outline: none;
    box-shadow: none;
}

.filter-section .btn-group .btn:hover {
    color: var(--primary-t-color);
}

.odd.filter-section .btn-group .btn:hover {
    color: var(--white-color);
}

.filter-section .btn-group .btn.active {
    color: var(--primary-t-color);
}

.odd.filter-section .btn-group .btn.active {
    color: var(--white-color);
}

.filter-section .btn-group .btn:before {
    content: '';
    position: absolute;
    bottom: 2.5px;
    right: 50%;
    width: 0%;
    height: 4px;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    transition: width 0.1s ease 0s;
}

.filter-section .btn-group .btn:after {
    content: '';
    position: absolute;
    bottom: 2.5px;
    left: 50%;
    width: 0%;
    height: 4px;
    background-image: -webkit-linear-gradient(45deg, var(--primary-color) 15%, var(--secondary-color) 65%);
    background-image: linear-gradient(45deg, var(--primary-color) 15%, var(--secondary-color) 65%);
    transition: width 0.1s ease 0s;
}

.filter-section .btn-group .btn.active:before,
.filter-section .btn-group .btn.active:after {
    width: 50%;
}

.filter-section .btn-group .btn i {
    margin: 0 10px 0;
}

.filter-section .items .item {
    z-index: 1;
}

.subscribe .items .item {
    padding: 0 10px;
}

.subscribe .btn {
    height: 50px;
}

.form .message {
    position: absolute;
    top: 0;
    left: 15px;
    width: 100%;
    height: 100%;
    padding: 35px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: scale(0);
    border-radius: 2px;
    background-color: var(--card-bg-color);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.form .message .icon {
    margin: auto;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form .message h3 {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form .message .done {
    display: none;
}

.form .message.active {
    transform: scale(1);
}

.form-group-margin {
    margin: 0 7.5px;
}

.map {
    padding: 0;
    height: 500px;
}

.map iframe {
    width: 100%;
    height: 500px;
    border: none;
}

/* #endregion Helper Class */

/*----------------------------------------------
5. Header
----------------------------------------------*/

/* #region Header */

header {
    position: relative;
    z-index: 5;
}

.navbar-holder {
    position: relative;
    z-index: -100;
    min-height: auto;
    pointer-events: none;
    background-color: var(--section-1-bg-color);
}

header .navbar-sticky {
    top: 0;
    background-color: var(--header-bg-color);
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    -webkit-transition: all .15s ease-out 0s!important;
    -o-transition: all .15s ease-out 0s!important;
    -moz-transition: all .15s ease-out 0s!important;
    transition: all .15s ease-out 0s!important;
    /* ! important is necessary to avoid conflict with the AOS animate. */
}

header .navbar-sticky.hidden {
    -webkit-transform: translate3d(0, -101%, 0)!important;
    -ms-transform: translate3d(0,-101%, 0)!important;
    -moz-transform: translate3d(0, -101%, 0)!important;
    transform: translate3d(0, -101%, 0)!important;
    /* ! important is necessary to avoid conflict with the AOS animate. */
}

header .navbar-sticky.visible {
    -webkit-transform: translate3d(0,0,0)!important;
    -ms-transform: translate3d(0,0,0)!important;
    -moz-transform: translate3d(0,0,0)!important;
    transform: translate3d(0,0,0)!important;
    /* ! important is necessary to avoid conflict with the AOS animate. */
}

header .navbar-expand {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    padding: 20px 25px;
    pointer-events: initial;
}

header .navbar-expand.navbar-vs-0  { padding-top: 0px;  padding-bottom: 0px; }
header .navbar-expand.navbar-vs-5  { padding-top: 5px;  padding-bottom: 5px; }
header .navbar-expand.navbar-vs-10 { padding-top: 10px; padding-bottom: 10px; }
header .navbar-expand.navbar-vs-15 { padding-top: 15px; padding-bottom: 15px; }
header .navbar-expand.navbar-vs-20 { padding-top: 20px; padding-bottom: 20px; }
header .navbar-expand.navbar-vs-25 { padding-top: 25px; padding-bottom: 25px; }
header .navbar-expand.navbar-vs-30 { padding-top: 30px; padding-bottom: 30px; }
header .navbar-expand.navbar-vs-35 { padding-top: 35px; padding-bottom: 35px; }
header .navbar-expand.navbar-vs-40 { padding-top: 40px; padding-bottom: 40px; }
header .navbar-expand.navbar-vs-45 { padding-top: 45px; padding-bottom: 45px; }
header .navbar-expand.navbar-vs-50 { padding-top: 50px; padding-bottom: 50px; }

header .navbar-expand.relative {
    position: relative;
}

header .navbar-expand .navbar-nav {
    display: inline-block;
}

header .navbar-expand .navbar-nav.toggle {
    display: none;
}

header .navbar-expand .navbar-nav.toggle i {
    font-size: 20px;
}

header .navbar-expand .navbar-brand {
    padding: 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 0;
    color: var(--nav-item-color);
}

header .navbar-expand:not(.navbar-sticky) .navbar-brand {
    color: var(--top-nav-item-color);
}

header .navbar-expand .navbar-brand i {
    font-style: initial;
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--primary-color);
}

header .navbar-expand .navbar-brand i.leverage-2-0 {
    margin: 0 0 0 5px;
    font-family: var(--h1-font);
    font-size: 12px;
}

header .navbar-expand .navbar-brand img {
    height: var(--nav-brand-height);
}

.navbar-expand .navbar-nav .nav-item {
    margin: 0;
    display: inline-flex;
    vertical-align: middle;
}

.navbar-expand .navbar-nav ul .nav-item {
    display: block;
}

.navbar-expand .navbar-nav .nav-item a:not(.btn) {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.navbar-expand .navbar-nav .nav-link:not(.btn) {
    padding-right: 1rem;
    padding-left: 1rem;
    color: var(--nav-item-color);
}

.navbar-expand:not(.navbar-sticky) .navbar-nav .nav-link:not(.btn) {
    color: #03002e;
}

.navbar-expand .navbar-nav .nav-link:not(.btn):not(.title):hover {
    color: var(--primary-color);
}

.navbar-expand .navbar-nav .nav-link.active:not(.btn):not(.title) {
    color: var(--primary-color);
}

.navbar-expand:not(.navbar-sticky) .navbar-nav .dropdown-menu .nav-link:not(.btn),
.navbar-expand .navbar-nav .dropdown-menu .nav-link:not(.btn) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.35rem 1rem;
    font-weight: 400;
    color: var(--primary-p-color);
}

.theme-mode-dark .navbar-expand:not(.navbar-sticky) .navbar-nav .dropdown-menu .nav-link:not(.btn),
.theme-mode-dark .navbar-expand .navbar-nav .dropdown-menu .nav-link:not(.btn) {
    color: var(--secondary-p-color);
}

.navbar-expand .navbar-nav .dropdown-menu .nav-link.title {
    font-weight: 600;
    color: var(--primary-t-color);
    opacity: 0.8;
}

.navbar-expand .navbar-nav .dropdown-menu .nav-link:not(.btn):not(.title):hover {
    color: var(--primary-color);
}

.navbar-nav i.icon-arrow-down {
    position: relative;
    top: 1.5px;
    margin: 0 0 0 0.3rem;
    font-size: 12px;
    font-weight: 600;
}

.navbar-nav i.icon-arrow-right {
    position: relative;
    left: 5px;
    top: 0;
    margin: 0 0 0 0.3rem;
    font-size: 10px;
    font-weight: 600;
}

.navbar-expand .icons i {
    font-weight: 400;
}

.dropdown .dropdown-menu {
    background-color: var(--primary-bg-color-2);
    width: max-content;
    min-width: 120px;
    display: block;
    visibility: hidden;
    opacity: 0;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.theme-mode-dark .dropdown .dropdown-menu {
    background-color: var(--secondary-bg-color-3);
}

.dropdown:hover > .dropdown-menu {
    visibility: unset;
    opacity: 1;
    margin: 0;
    transition-timing-function: ease;
    transition-duration: .4s;
    transition-property: opacity, transform;
}

.dropdown-menu .dropdown-menu {
    position: absolute;
    top: -8px;
    left: 100%;
}

.dropdown-item.active, .dropdown-item:hover, .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
    box-shadow: none;
    outline: none;
}

.menu .items {
    margin-left: -5px;
    width: calc(100% + 10px);
}

.menu .navbar-nav {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
}

.menu .nav-item {
    margin: 0;
}

.menu .dropdown .dropdown-menu {
    display: none;
    width: 100%;
    visibility: visible;
    opacity: 1;
    background: none;
    box-shadow: none;
    border: none;
    text-align: center;
    padding: 0 0 0 20px;
    margin: 0 0 15px;
    list-style: none;
    color: var(--secondary-p-color);
}

.menu .dropdown .dropdown-menu.show {
    display: block;
}

.menu .dropdown-menu .dropdown-menu {
    position: relative;
    top: initial;
    left: initial;
}

.menu .dropdown .dropdown-menu .left,
.menu .dropdown .dropdown-menu .right {
    width: 50%;
}

.menu .nav-link:not(.btn) {
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid var(--primary-l-color);
    color: var(--primary-p-color);
    display: inline-block;
    width: calc(100% - 12px);
    vertical-align: top;
    padding: 10px 5px;
    margin: 0 5px;
    border-radius: 4px;
}

.theme-mode-dark .menu .nav-link:not(.btn) {
    border: 1px solid var(--secondary-l-color);
    color: var(--secondary-p-color);
}

.menu .nav-link:not(.btn):hover,
.theme-mode-dark .menu .nav-link:not(.btn):hover {
    color: var(--primary-color);
}

.menu .dropdown .dropdown-menu .nav-link.title {
    font-weight: 600;
    color: var(--primary-t-color);
    border: none;
    opacity: 0.8;
}

.theme-mode-dark .menu .dropdown .dropdown-menu .nav-link.title {
    color: var(--secondary-t-color);
}

.menu .dropdown .dropdown-menu .nav-item .nav-link {
    font-size: 1rem;
    font-weight: 400;
    background: none;
    color: var(--primary-p-color);
    display: flex;
    justify-content: space-between;
    width: calc(100% - 12px);
    vertical-align: top;
    padding: 0;
    margin: 0 5px 10px;
    border-radius: 4px;
    text-align: left;
}

.theme-mode-dark .menu .dropdown .dropdown-menu .nav-item .nav-link {
    color: var(--secondary-p-color);
}

.menu .dropdown .dropdown-menu .nav-link:hover,
.theme-mode-dark .menu .dropdown .dropdown-menu .nav-link:hover {
    color: var(--primary-color);
}

.menu .dropdown:first-child {
    margin-top: 0;
}

.menu .nav-link:first-child {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    color: var(--primary-t-color);
}

.theme-mode-dark .menu .nav-link:first-child {
    margin-bottom: 0;
    font-weight: 600;
    border: none;
    color: var(--secondary-t-color);
}

.menu .dropdown-menu .dropdown > .nav-link:first-child {
    font-size: 1rem;
    font-weight: 600;
}

.menu .navbar-nav i.icon-arrow-down {
    font-size: 18px;
}

/* #endregion Header */

/*----------------------------------------------
6. Slider
----------------------------------------------*/

/* #region Slider */

.slider-h-auto {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.slider-h-auto .swiper-wrapper,
.slider-h-auto .swiper-slide {
    min-height: 75vh;
}

.slider-h-auto.no-slider .inner {
    top: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.slider-h-100 {
    width: 100%;
    height: 100vh;
}

.slider-h-100.slider-h-auto {
    min-height: 100vh;
}

.slider-h-85 {
    width: 100%;
    height: 85vh;
}

.slider-h-75 {
    width: 100%;
    height: 75vh;
}

.slider-h-75.slider-h-auto {
    min-height: 75vh;
}

.slider-h-70 {
    width: 100%;
    height: 70vh;
}

.slider-h-65 {
    width: 100%;
    height: 65vh;
}

.slider-h-60 {
    width: 100%;
    height: 60vh;
}

.slider-h-50 {
    width: 100%;
    height: 50vh;
}

.slider-h-50.slider-h-auto {
    min-height: 50vh;
}

.slider-h-25 {
    width: 100%;
    height: 25vh;
}

.hero.slider-parallax {
    position: fixed;
    top: 0;
    min-height: auto;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.slider-parallax-holder {
    position: relative;
    z-index: -100;
    min-height: 100vh;
    pointer-events: none;
}

.mid-slider {
    overflow: visible;
    padding: 0 15px;
}

.mid-slider-simple {
    padding: 0 15px;
}

.mid-slider-simple .card:not(.no-hover):hover {
    transform: initial;
}

.full-slider {
    cursor: w-resize;
}

.full-slider .inner,
.no-slider .inner {
    top: 1rem;
    max-width: 1140px;
    padding: 0;
    margin: auto;
}

.full-slider.full-grid .inner,
.no-slider.full-grid .inner {
    max-width: calc(100% - 60px);
}

.full-slider.smaller .inner,
.no-slider.smaller .inner {
    max-width: 940px;
}

.no-slider.slider-h-75 .inner {
    top: 10px;
}

.full-slider .inner .center,
.no-slider .inner .center {    
    width: 100%;
    padding: 2rem 0;
}

.full-slider .inner .left,
.no-slider .inner .left {
    width: 60%;
    padding: 2rem 0;
}

.full-slider .inner .right,
.no-slider .inner .right {
    width: auto;
    padding: 2rem 0;
}

.full-slider.featured .inner .left:before,
.no-slider.featured .inner .left:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 5%;
    width: 45%;
    height: 95%;
    border-top: 4px solid;
    border-right: 4px solid;
    transform: rotate(-15deg);
    border-image: -webkit-linear-gradient(to right, transparent 55%, var(--primary-color) 55%, var(--primary-color) 100%) 30;
    border-image: linear-gradient(to right, transparent 55%, var(--primary-color) 55%, var(--primary-color) 100%) 30;
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
    opacity: 0;
}

.full-slider.featured .inner .left:after,
.no-slider.featured .inner .left:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 5%;
    width: 45%;
    height: 95%;
    border-left: 4px solid;
    border-bottom: 4px solid;
    transform: rotate(-15deg);
    border-image: -webkit-linear-gradient(to bottom, transparent 83%, var(--primary-color) 83%, var(--primary-color) 100%) 30;
    border-image: linear-gradient(to bottom, transparent 83%, var(--primary-color) 83%, var(--primary-color) 100%) 30;
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
    opacity: 0;
}

.full-slider.featured .inner .right:before,
.no-slider.featured .inner .right:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 5%;
    bottom: 0;
    right: 0;
    width: 45%;
    height: 95%;
    border-top: 4px solid;
    border-right: 4px solid;
    transform: rotate(-15deg);
    border-image: -webkit-linear-gradient(to right, transparent 55%, var(--primary-color) 55%, var(--primary-color) 100%) 30;
    border-image: linear-gradient(to right, transparent 55%, var(--primary-color) 55%, var(--primary-color) 100%) 30;
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
    opacity: 0;
}

.full-slider.featured .inner .right:after,
.no-slider.featured .inner .right:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 5%;
    right: 0;
    bottom: 0;
    width: 45%;
    height: 95%;
    border-left: 4px solid;
    border-bottom: 4px solid;
    transform: rotate(-15deg);
    border-image: -webkit-linear-gradient(to bottom, transparent 83%, var(--primary-color) 83%, var(--primary-color) 100%) 30;
    border-image: linear-gradient(to bottom, transparent 83%, var(--primary-color) 83%, var(--primary-color) 100%) 30;
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
    opacity: 0;
}

.full-slider .inner .left.off:before,
.full-slider .inner .left.off:after,
.full-slider .inner .right.off:before,
.full-slider .inner .right.off:after {
    content: none;
}

.full-slider .inner .left.init:before,
.full-slider .inner .left.init:after,
.no-slider .inner .left.init:before,
.no-slider .inner .left.init:after,
.full-slider .inner .right.init:before,
.full-slider .inner .right.init:after,
.no-slider .inner .right.init:before,
.no-slider .inner .right.init:after {
    opacity: 1;
}

.full-slider .slide-content .center .description,
.no-slider .slide-content .center .description {
    max-width: 900px;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.full-slider .slide-content .center .description p,
.no-slider .slide-content .center .description p {
    font-size: 1.5rem;
}

.full-slider .slide-content .left .description,
.no-slider .slide-content .left .description,
.full-slider .slide-content .right .description,
.no-slider .slide-content .right .description {
    max-width: 500px;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.full-slider .slide-content .left .description p,
.no-slider .slide-content .left .description p,
.full-slider .slide-content .right .description p,
.no-slider .slide-content .right .description p {
    font-size: 1.2rem;
}

.full-slider.featured .inner .right .description {
    right: 15%;
    position: relative;
}

.full-slider .slide-content .inner .description a, 
.no-slider .slide-content .inner .description a {
    font-size: 1.2rem;
}

.full-slider .slide-content .center .description a, 
.no-slider .slide-content .center .description a {
    font-size: 1.5rem;
}

.full-slider .swiper-button-next {
    right: 1.5rem;
}

.full-slider .swiper-button-prev {
    left: 1.5rem;
}

.full-slider .swiper-button-next:focus,
.full-slider .swiper-button-prev:focus {
    outline: none;
}

.full-slider .swiper-button-next,
.full-slider .swiper-button-prev {
    top: calc(50% + 60px);
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 55%);
    background-image: linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 55%);
    opacity: 0.25;
    padding: 2rem 1.5rem;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.full-slider .swiper-button-next:hover,
.full-slider .swiper-button-prev:hover {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 55%);
    background-image: linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 55%);
}

.full-slider .swiper-button-next:after,
.full-slider .swiper-button-prev:after {
    font-size: 3rem;
}

.slide-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slide-content {
    position: relative;
    z-index: 3;
    width: 100%;
}

.swiper-slide .aos-animate {
    display: none;
}

.swiper-slide.swiper-slide-active .aos-animate {
    display: block;
}

.swiper-slide .fit-image.aos-init {
    opacity: 1;
}

.swiper-slide .fit-image.aos-animate {
    visibility: hidden;
    display: block;
}

.swiper-slide.swiper-slide-active .fit-image.aos-animate {
    visibility: visible;
    display: block;
    transform: translateZ(0) scale(1.2);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 3s;
    transition-property: opacity, transform;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    margin-top: 35px;
    position: relative;
}

.full-slider.swiper-container-horizontal > .swiper-pagination-bullets {
    position: absolute!important;
    top: initial!important;
    bottom: 5vh !important;
    /* ! important is necessary to avoid conflict with the Swipper Slider. */
}

.swiper-pagination-bullet {
    width: 40px!important;
    height: 5px!important;
    border-radius: 0!important;
    background-color: var(--primary-p-color)!important;
    border: none!important;
    opacity: 0.25!important;
    /* ! important is necessary to avoid conflict with the Swipper Slider. */
}

.swiper-pagination-bullet:hover {
    opacity: 1!important;
    /* ! important is necessary to avoid conflict with the Swipper Slider. */
}

.swiper-pagination-bullet-active {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%)!important;
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%)!important;
    opacity: 1!important;
    /* ! important is necessary to avoid conflict with the Swipper Slider. */
}

.swiper-pagination-bullet-active:hover {
    background-color: var(--primary-color)!important;
    /* ! important is necessary to avoid conflict with the Swipper Slider. */
}

.pagination {
    width: fit-content;
    margin: 35px auto;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.pagination .page-item {
    margin: 0;
}

.pagination .page-item:focus {
    outline: none;
    box-shadow: none;
}

.pagination .page-item .page-link {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 400;
    background-color: var(--primary-bg-color);
    border-radius: 2px;
    border: 1px solid;
    border-color: var(--primary-bg-color-2);
    color: var(--primary-t-color);
}

.body-mode-dark .pagination .page-item .page-link {
    background-color: var(--secondary-bg-color-2);
    border-color: var(--secondary-bg-color-2);
    color: var(--secondary-p-color);
}

.pagination .page-item.active .page-link {
    background-color: var(--primary-bg-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.body-mode-dark .pagination .page-item.active .page-link {
    background-color: var(--secondary-bg-color-2);
}

.pagination .page-item .page-link:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-bg-color);
}

.body-mode-dark .pagination .page-item .page-link:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white-color);
}

.pagination .page-item .page-link:focus {
    outline: none;
    box-shadow: none;
}

/* #endregion Slider */

/*----------------------------------------------
7. Feature
----------------------------------------------*/

/* #region Feature */

.preloader {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hero-bg-color);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.4s;
    transition-property: opacity, transform;
}

.preloader.ready {
    z-index: -100;
    opacity: 0;
}

.icon  {
    width: auto;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 44px;
    display: block;
    margin: auto;
}

.icon.smaller {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
}

.icon.bigger {
    width: 7rem;
    height: 7rem;
    margin: 0;
    font-size: 6.5rem;
    line-height: 7rem;
    font-weight: bold;
}

.icon.circle {
    border-radius: 100px;
    font-size: 28px;
}

.bricklayer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.bricklayer-column-sizer {
	width: 33.3333%;
	display: none;
}

.columns-1 .bricklayer-column-sizer {
	width: 100%;
}

.columns-2 .bricklayer-column-sizer {
	width: 50%;
}

.columns-3 .bricklayer-column-sizer {
	width: 33.3333%;
}

.columns-4 .bricklayer-column-sizer {
	width: 25%;
}

.columns-5 .bricklayer-column-sizer {
	width: 20%;
}

.columns-6 .bricklayer-column-sizer {
	width: 16.6666%;
}

.bricklayer-column {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
    margin: 0 15px;
}

.bricklayer .item {
    margin: 0 0 30px 0;
}

.card-columns {
    margin: 0 15px;
    column-gap: 30px;
}

.card-columns .card {
    margin-bottom: 30px;
}

.card {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 35px;
    border: none;
    border-radius: 2px;
    background-color: var(--card-bg-color);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.4s;
    transition-property: opacity, transform;
}

.card.no-hover {
    background-color: transparent;
    box-shadow: none;
}

.odd:not(.custom) .card:not(.no-hover):not(:hover) {
    background-color: #fff;
}

.card-white .card {
    background-color: var(--white-color);
}

.card p {
    margin-top: 0;
    white-space: pre-wrap;
}

.card-img-top {
    border-radius: 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 35px 30px;
}

.card-body h3, .card-body h4, .card-body h5, .card-body h6 {
    margin-top: 0;
}

.card-footer {
    border-radius: 0;
    background: none;
    padding: 30px 0;
    margin: 0 30px;
    border-top: 1px solid var(--primary-l-color);
}

.card-footer a {
    margin: 0 10px;
}

.card-footer a:not(.btn) {
    line-height: 1.2;
    text-align: left;
    color: var(--primary-p-color);
}

.card-footer i {
    margin: 0 10px 2.5px 0;
}

.card.simple {
    box-shadow: none;
    background: none;
    padding: 0 2rem;
}

.card.simple:hover {
    background: none;
}

.card:not(.no-hover):hover {
    background: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    transform: translateY(-7.5px);
}

.sticky.card:not(.no-hover) {
    background: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
}

.masonry .card:not(.no-hover):hover {
    transform: translateY(0);
}

.items .item:first-child .card.featured:hover:before, .items .item:last-child .card.featured:hover:before {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.card:not(.no-hover):hover:before,
.card:not(.no-hover):hover:after {
    opacity: 0;
}

.card:hover .image-person img {
    transform: scale(1.1);
}

.card:not(.no-hover):hover h3,
.card:not(.no-hover):hover h4,
.card:not(.no-hover):hover p {
    color: #f5f5f5;
}

.card:not(.no-hover):hover span,
.card.stycky:not(.no-hover) span {
    color: #f5f5f5;
    -webkit-text-fill-color: #f5f5f5;
}

.card:not(.no-hover):hover a,
.card.sticky:not(.no-hover) a {
    color: #f5f5f5;
    -webkit-text-fill-color: #f5f5f5;
}

.card:not(.no-hover):hover i,
.card.sticky:not(.no-hover) i {
    color: #f5f5f5;
    -webkit-text-fill-color: #f5f5f5;
}

.card:not(.no-hover):hover .icon,
.card.sticky:not(.no-hover) .icon {
    background-color: transparent;
    color: #f5f5f5;
    -webkit-text-fill-color: #f5f5f5;
}

.card:hover .card-footer,
.card.sticky .card-footer {
    color: #f5f5f5;
    border-color: rgba(219, 11, 11, 0.25);
}

.card:hover .btn-icon {
    color: #f5f5f5;
}

.card:hover .share-list i {
    color: #f5f5f5;
}

.card.featured:before {
    position: absolute;
    z-index: -1;
    content: '';
    width: calc(50% + 10px);
    height: calc(50% + 10px);
    border: none;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.4s;
    transition-property: opacity, transform;
}

.items .item:not(:first-child):not(:last-child) .card.featured:before {
    display: none;
}

.items .item:first-child .card.featured:before {
    top: -10px;
    right: 0;
    bottom: 0;
    left: -10px;
}

.items .item:last-child .card.featured:before {
    right: -10px;
    bottom: -10px;
}

.card.featured:after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    background-color: inherit;
}

.odd:not(.custom) .card.featured:after {
    background-color: inherit;
}

.card.featured:hover:after {
    background-color: none;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
}

.badge {
    font-weight: 500;
}

.badge.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
    background-color: var(--primary-bg-color-3);
}

.body-mode-dark .badge.circle {
    border: 1px solid var(--secondary-l-color);
    background: none;
}

.badge.tag {
    margin: 0 5px 10px 0;
    padding: 0.45rem 1rem;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-p-color);
    border: 1px solid var(--primary-l-color);
}

.odd .badge.tag,
.body-mode-dark .badge.tag {
    color: var(--secondary-p-color);
    border: 1px solid var(--secondary-l-color);
}

.badge.tag:hover,
.badge.tag.active {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.role {
    display: block;
    padding: 0 0 1.5rem;
    border-bottom: 1px solid var(--primary-l-color);
}

.odd .role {
    border-bottom: 1px solid var(--secondary-l-color);
}

.breadcrumb {
    margin: 0;
    background: none;
    justify-content: center;
    color: inherit;
}

.breadcrumb-item {
    font-size: 1rem;
    font-weight: 400;
}

.breadcrumb-item a:not(.btn) {
    color: inherit;
}

.breadcrumb-item a:hover {
    color: var(--primary-color);
}

.breadcrumb-item+.breadcrumb-item::before {
    font-weight: 400;
}

.breadcrumb-item.active {
    color: var(--primary-color);
}

.breadcrumb-item.active:hover {
    color: var(--primary-color);
}

.share-list {
    display: -webkit-inline-box;
}

.share-list .nav-link i {
    margin: 0 1rem;
    font-size: 22px;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
    -webkit-text-fill-color: transparent;
}

.share-list li:first-child i {
    margin-left: 0;
}

.image-over {
    overflow: hidden;
    border-radius: 2px;
}

.image-person img {
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.4s;
}

.person {
    width: 100%;
    max-width: 100px;
    border-radius: 100%;
}

.square-image {
    margin: auto;
}

.square-image .icon {
    position: absolute;
    z-index: 1;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.3s;
    transition-property: opacity, transform;
}

.square-image img {
    opacity: 0.75;
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.3s;
    transition-property: opacity, transform;
}

.square-image:hover img {
    opacity: 0.5;
    filter: none;
}

.square-image:hover .icon {
    transform: scale(1.2);
}

.mask-radius {
    content: '';
    position: absolute;
    z-index: 1;
    right: 15px;
    bottom: 0;
    width: 58%;
    height: 58%;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 55%);
    background-image: linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 55%);
    border-radius: 100% 0 0 0;
    opacity: 0.25;
}

.mask-radius-full {
    content: '';
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 55%);
    background-image: linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 55%);
    opacity: 0.25;
}

.play-video {
    position: absolute;
    z-index: 2;
    right: 15%;
    bottom: 15%;
    padding: 1.75rem 1.5rem 1.75rem 2rem;
    border-radius: 100%;
    font-size: 3rem;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 55%);
    background-image: linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 55%);
    background-size: 200% auto;
    color: var(--primary-b-color);
}

.play-video-full {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 4rem;
    color: var(--primary-b-color);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.full-image[data-mask="90"] {
    opacity: 0.1;
}

.full-image[data-mask="80"] {
    opacity: 0.2;
}

.full-image[data-mask="70"] {
    opacity: 0.3;
}

.full-image[data-mask="60"] {
    opacity: 0.4;
}

.full-image[data-mask="50"] {
    opacity: 0.5;
}

.full-image[data-mask="40"] {
    opacity: 0.6;
}

.full-image[data-mask="30"] {
    opacity: 0.7;
}

.full-image[data-mask="20"] {
    opacity: 0.8;
}

.full-image[data-mask="10"] {
    opacity: 0.9;
}

.full-image[data-mask="0"] {
    opacity: 1;
}

.full-image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-image {
    position: absolute;
    right: 10%;
    bottom: 0;
    width: auto;
    height: 85%;
}

.hero-image-left {
    position: absolute;
    left: 10%;
    bottom: 0;
    width: auto;
    height: 85%;
}

.fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.fit-image.w-85 {
    width: 85%;
}

.fit-image.top {
    object-position: top;
}

.fit-image.bottom {
    object-position: bottom;
}

.btn {
    width: max-content;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .5rem 1.25rem;
    border-width: 0;
    border-radius: 2px;
}

.btn.smaller, .btn.smaller:active, .btn.smaller:focus {
    width: fit-content;
    box-sizing: content-box; 
    margin: 0 5px;
    padding: 7.5px 12.5px;
    display: inline-block;
}

.btn.w-100 {
    max-width: 100%;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus,
.btn:hover, .btn:focus {
    outline: none;
    box-shadow: none;
}

.btn i {
    margin-right: 0.5rem;
}

.btn i.left {
    margin-right: 0;
    margin-left: 0.5rem;
}

.btn-icon {
    position: relative;
    bottom: -5px;
    font-size: 24px;
    cursor: pointer;
    color: var(--primary-p-color);
}

.odd .btn-icon {
    color: var(--secondary-p-color);
}

